@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.delay-1 {
  animation-delay: 1s;
}

.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
}

.side {
  --size: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  position: absolute;
  background-color: #36393e;
  border: 2px solid white;
  border-radius: 0px;
  transform: rotateY(var(--rotate-y, 0)) rotateX(var(--rotate-x, 0))
    translateZ(calc(var(--size) / 2));
}

@media screen and (min-width: 475px) {
  .side {
    --size: 150px;
    border-radius: 30px;
  }
}

.right {
  --rotate-y: 90deg;
}

.left {
  --rotate-y: -90deg;
}

.top {
  --rotate-x: 90deg;
}

.bottom {
  --rotate-x: -90deg;
}

.back {
  --rotate-y: 180deg;
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}

.bounce-2 {
  animation: bounce-new 1s infinite;
  animation-delay: 0.1s;
}

.bounce-3 {
  animation: bounce-new 1s infinite;
  animation-delay: 0.2s;
}

.line-pulse {
  animation: line-pulse 2s infinite;
  animation-delay: 0.3s;
}

@keyframes line-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-new {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.grow-at-start {
  animation: grow-at-start 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -moz-animation: grow-at-start 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -o-animation: grow-at-start 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -webkit-animation: grow-at-start 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: 0.5s;
}

.reveal {
  animation: reveal 0.5s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -moz-animation: reveal 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -o-animation: reveal 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -webkit-animation: reveal 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: 1.5s;
}

.rotate-item {
  animation: rotate-item 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -moz-animation: rotate-item 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -o-animation: rotate-item 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  -webkit-animation: rotate-item 1s cubic-bezier(0, 0, 0, 1) 1 normal forwards;
  animation-delay: 2s;
}

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes grow-at-start {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40%);
    transform: translatey(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translatey(0);
  }
}

@keyframes rotate-item {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-180deg);
    transform: rotatex(-180deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: rotateX(180deg);
    transform: rotatex(180deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateX(1turn);
    transform: rotatex(1turn);
  }
}
